  apiVersion: 1

  datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus.monitoring.local:9090
      editable: true

    - name: Loki
      type: loki
      access: proxy
      url: http://loki.monitoring.local:3100
      isDefault: true
      editable: true
      jsonData:
        maxLines: 1000

    - name: Jaeger
      type: jaeger
      access: proxy
      url: http://jaeger-query.monitoring.local:16686
      editable: true