auth_enabled: false

server:
  http_listen_port: 3100
  grpc_listen_port: 9096

common:
  instance_addr: ${HOSTNAME}
  path_prefix: /loki
  replication_factor: 1

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

storage_config:
  tsdb_shipper:
    active_index_directory: /loki/tsdb-index
    cache_location: /loki/tsdb-cache

  aws:
    s3: s3://ap-northeast-2/nowayback-encore

ingester:
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      replication_factor: 1
  chunk_idle_period: 30m
  chunk_retain_period: 15m
  max_chunk_age: 2h

querier:
  max_concurrent: 10

frontend:
  compress_responses: true

limits_config:
  ingestion_rate_mb: 25
  ingestion_burst_size_mb: 50
  reject_old_samples: true
  reject_old_samples_max_age: 168h

compactor:
  working_directory: /tmp/loki-compactor
  compaction_interval: 30m
  retention_enabled: false
