auth_enabled: false

server:
  http_listen_port: 3100

common:
  path_prefix: /loki
  replication_factor: 1
  ring:
    kvstore:
      store: inmemory

schema_config:
  configs:
    - from: 2024-01-01
      store: tsdb
      object_store: s3
      schema: v13
      index:
        prefix: loki_index_
        period: 24h

storage_config:
  aws:
    s3: s3://ap-northeast-2/nowayback-encore

ingester:
  wal:
    enabled: true
    dir: /loki/wal
  chunk_idle_period: 30m
  chunk_retain_period: 15m
  max_chunk_age: 2h

limits_config:
  retention_period: 720h
  ingestion_rate_mb: 25
  ingestion_burst_size_mb: 50
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  allow_structured_metadata: true

querier:
  max_concurrent: 10