eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://localhost:8761/eureka/}

jwt:
  secret: ${JWT_SECRET:yH2Nf5Q9bV4mE1uU2Z+8HsWlQq7R3pOjfL5xB0kDcZ8=}
  access-expire-time-ms: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    com.nowayback.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG