spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      httpclient:
        connect-timeout: 5000
        response-timeout: 30s
        wiretap: true

      routes:
        - id: user-service
          uri: http://internal-encore-discovery-alb-126399741.ap-northeast-2.elb.amazonaws.com
          predicates:
            - Path=/users/**,/auth/**

        - id: project-service
          uri: http://internal-encore-discovery-alb-126399741.ap-northeast-2.elb.amazonaws.com
          predicates:
            - Path=/projects/**

        - id: funding-service
          uri: http://internal-encore-discovery-alb-126399741.ap-northeast-2.elb.amazonaws.com
          predicates:
            - Path=/fundings/**

        - id: reward-service
          uri: http://internal-encore-discovery-alb-126399741.ap-northeast-2.elb.amazonaws.com
          predicates:
            - Path=/rewards/**

        - id: payment-service
          uri: http://internal-encore-discovery-alb-126399741.ap-northeast-2.elb.amazonaws.com
          predicates:
            - Path=/payments/**

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:3000"
              - "https://your-production-domain.com"
            allowed-methods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowed-headers: "*"
            exposed-headers: "*"
            allow-credentials: true
            max-age: 3600
eureka:
  client:
    enabled: false
    register-with-eureka: false
    fetch-registry: false

jwt:
  secret: ${JWT_SECRET:yH2Nf5Q9bV4mE1uU2Z+8HsWlQq7R3pOjfL5xB0kDcZ8=}
  access-expire-time-ms: 86400000

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,gateway
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.nowayback.gateway: DEBUG
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG