server:
  port: 8080

spring:
  application:
    name: gateway-service
  profiles:
    active: local

  cloud:
    gateway:
      server:
        webflux:
          httpserver:
            wiretap: true
          httpclient:
            wiretap: true
          forwarded:
            enabled: true

          default-filters:
            - PreserveHostHeader
            - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials

          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/users/**
                - Path=/auth/**
              filters:
                - name: JwtAuthenticationFilter

            - id: project-service
              uri: lb://project-service
              predicates:
                - Path=/projects/**
              filters:
                - name: JwtAuthenticationFilter

            - id: funding-service
              uri: lb://funding-service
              predicates:
                - Path=/fundings/**
              filters:
                - name: JwtAuthenticationFilter

            - id: reward-service
              uri: lb://reward-service
              predicates:
                - Path=/rewards/**
              filters:
                - name: JwtAuthenticationFilter

            - id: payment-service
              uri: lb://payment-service
              predicates:
                - Path=/payments/**
              filters:
                - name: JwtAuthenticationFilter

          globalcors:
            corsConfigurations:
              '[/**]':
                allowed-origins:
                  - "http://localhost:3000"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers: "*"
                exposed-headers: "*"
                allowCredentials: true
                max-age: 3600

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      base-path: /actuator
  endpoint:
    health:
      show-details: always